<!-- testimonial section starts -->
<div class="reviews-heading">
  <h2 class="animated-text">Client's Reviews</h2>
</div>
    <div class="reviews-container">
        <!-- Review 1 -->
        <div class="review-card">
            <div class="client-info">
                <img src="../../assets/images/person_1.jpg" alt="Client 1 Avatar">
                <h3 class="animated-text">Client 1</h3>
            </div>
            <p class="review-text">
              <strong>Fresh, moist cupcakes!</strong> <br>
             " I was gifted a box of four cupcakes for my birthday a few weeks ago from a loved one,
              and they were all delightful. The box included S’Mores, the Elvis, Lemon Bliss, and Chocolate Caramel. Out of the four, my favorite was the Elvis (that peanut butter mousse with bacon bits on top was amazing!) I definitely want to try their red velvet line and different types of chocolate cupcakes next time. Definitely keep them cool because the mousse did melt quite a bit.
              However, they were really cute, super fresh, and not too overwhelmingly sweet."
            </p>
            <div class="rating">
                <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span>
            </div>
        </div>

        <!-- Review 2 -->
        <div class="review-card">
            <div class="client-info">
                <img src="../../assets/images/person_2.jpg" alt="Client 2 Avatar">
                <h3  class="animated-text">Client 2</h3>
            </div>
            <p class="review-text">
                <strong>The cakes are all delicious!</strong><br>
               " Wow! Cakes are exquisite. Had my first piece of WOW! Cake through my bro and ever since it's been my fav go to for all things cake. Over the years I've enjoyed their cakes and I hope to continue munching. Tnx.
"
            </p>
            <div class="rating">
                <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span>
            </div>
        </div>

      <div class="review-card">
        <div class="client-info">
            <img src="../../assets/images/person_4.jpg" alt="Client 2 Avatar">
            <h3  class="animated-text">Client 3</h3>
        </div>
        <p class="review-text">
          "WOW cakes is just wow! The cupcakes r so nice according to her and her tastebuds were dancing and that they r so fluffy,
          u could almost feel it melt in your mouth! N the delivery, oh my goodness! He didn’t meet her there but he waited n made
          sure he handed it to her in person n didn’t even complain!! N he went ahead to sing for her birthday song when she arrived 😌.
          The whole thing was just WOW.....🤤."
        </p>
        <div class="rating">
            <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span>
        </div>
    </div>
    </div>
    <!-- <div class="review-card">
      <div class="client-info">
          <img src="../../assets/images/person_3.jpg" alt="Client 2 Avatar">
          <h3  class="animated-text">Client 4</h3>
      </div>
      <p class="review-text">
          <strong>The cakes are all delicious!</strong><br>
         " Wow! Cakes are exquisite. Had my first piece of WOW! Cake through my bro and ever since it's been my fav go to for all things cake. Over the years I've enjoyed their cakes and I hope to continue munching. Tnx.
"</p>
      <div class="rating">
          <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span> <span>&#9733;</span>
      </div>
  </div> -->



<!-- testimonial section ends -->

