<!-- navigation starts -->
<div class="superNav border-bottom py-2 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
        <select  class="me-3 border-0 bg-light">
          <option value="IND">IND</option>
        </select>
        <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>Rina15Kevalani@gmail.com</strong></span>
        <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>+91-97378-04309</strong></span>
        </div>
      </div>
    </div>
  </div>

<nav class="navbar navbar-expand-lg   ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <img src="../assets/images/logo1.png" alt="logo" class="logo-img">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collpase navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" active><a routerLink="/"  class="nav-link">Home</a></li>
            <li class="nav-item" active><a routerLink="/about"  class="nav-link">About</a></li>
            <li class="nav-item" active><a routerLink="/gallary"  class="nav-link">Gallery</a></li>
            <li class="nav-item"><a routerLink="/menu"  class="nav-link">Menu</a></li>
            <li class="nav-item"><a routerLink="/testimonial"  class="nav-link">Testimonials</a></li>
            <li class="nav-item"><a routerLink="/chef"  class="nav-link">Chef</a></li>
            <li class="nav-item"><a routerLink="/signin"  class="nav-link">Admin</a></li>
            <li class="nav-item"><a routerLink="/login"  class="nav-link">User</a></li>
          </ul>
      </div>
  </div>
</nav>
