<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_detail">
          <h4>
            About
          </h4>
          <p>
            The Cake Shop specialises in exquisitely hand-crafted, premium celebration cakes for any occasion.
            We have a team of highly skilled cake designers and decorators who can create a truly personalised and memorable cake which is bound to delight at your special occasion.
          </p>
          <div class="footer_social">
            <a href="https://www.facebook.com/kevlani15" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/Rina885467842?t=Ja_yQNdx8oem17nFSC23kQ&s=08" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/rinakevalani/" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/kevlani_15/" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_links">
          <h4>
            Our Links
          </h4>
          <div class="contact_link_box">
            <a routerLink="/home">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span>
                Home
              </span>

            </a>
            <a routerLink="/about">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span>
                About
              </span>

            </a>
            <a routerLink="/gallary">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span>
                Gallary
              </span>
            </a>
            <a routerLink="/menu">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span>
                Menu
              </span>
            </a>
            <a routerLink="/testimonial">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span>
                Testomonial
              </span>

            </a>
            <a routerLink="/chef">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span>
                Chef
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_contact">
          <h4>
            Reach at..
          </h4>
          <div class="contact_link_box">
            <a routerLink="#">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Location
              </span>

            </a>
            <a href="+91-9797804309">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call +91 9737804309
              </span>
            </a>
            <a href="Rina15kevalani@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Rina15Kevalani@gamil.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_contact">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" name="em" placeholder="Enter email" [(ngModel)]="em"  />
            <button type="submit" (click)="sendmail()">
              Subscribe
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="map_container">
          <div class="map">
            <div id="googleMap">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.007071347637!2d73.55703087490105!3d22.690780679407744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396085c2db55a517%3A0x4071488abb741dfa!2sSHREE%20KRISHNA%20COLDDRINKS!5e0!3m2!1sen!2sin!4v1693987246285!5m2!1sen!2sin"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights By Rina kevalani
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->

<!-- social icoons -->

<div class="icon-bar">
  <a href="https://www.facebook.com/kevlani15" class="facebook" target="_blank">
    click here to visit  <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>

  <a class="twitter" href="https://twitter.com/Rina885467842?t=Ja_yQNdx8oem17nFSC23kQ&s=08" target="_blank">
    click here to visit <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>

  <a class="instagram" href="https://www.instagram.com/kevlani_15/" target="_blank">
    click here to visit <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>

  <a class="linkedin" href="https://www.linkedin.com/in/rinakevalani/" target="_blank">
    click here to visit<i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>

  <a
    href="https://github.com/Rina15Kevalani"
    class="youtube"
    target="_blank">
    click here to visit <i class="fa fa-github" aria-hidden="true"></i>
  </a>

